fastapi
uvicorn
sqlalchemy
beautifulsoup4
httpx
python-dotenv
pydantic
psycopg2-binary
google-genai
apscheduler
pandas
openpyxl
PyJWT
bcrypt
python-multipart

google-api-python-client
google-auth-httplib2
google-auth-oauthlib
apscheduler
